# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
.eslintcache

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# OSX
.DS_Store

.erb/dll

.idea
npm-debug.log.*
*.css.d.ts
*.sass.d.ts
*.scss.d.ts

dist

prevenda

src/node_modules

release/app/node_modules

node_modules

release/build
release/build/*

/release/build/win-ia32-unpacked/resources/app.asar
/release/build/win-ia32-unpacked/selfcheckout.exe
