$colors: (
  primary: #0376b3,
  primaryLight: rgb(0, 61, 158),
  primaryHover: rgb(2, 13, 32),
  secondary: #e9a447,
  secondaryHover: rgb(153, 9, 14),
  success: #5cb85c,
  danger: #d9534f,
  dark: #333,
  darkHover: rgba(255, 255, 255, 0.2),
  medium: #999,
  light: #ccc,
  white: #fff,
);

$fonts: (
  primary: 'Fira Sans',
  secondary: 'Roboto',
);
